body{
  background: white;
}

.container{
  width: 50px;
  margin: 50px auto;

}


/* Media queries */
@media(max-width: 576px) {
  .container {
    width: 550px;
  }
}

/* Media queries */
@media(max-width: 768px) {
  .container {
    width: 600px;
  }
}

/* Media queries */
@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
/* Media queries */
@media(max-width: 1200px) {
  .container {
    width: 900px;
  }
}
